@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/*Подключение шрифтов*/
/*Шрифты для сайта*/
@font-face {
  font-family: 'Circe';
  src: url('Circe-Bold.woff2') format('woff2'), url('Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/*Переменные для шрифтов и стилей*/
/*Настройки для тела*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #fbebea;
}
/* Site header  (Шапка сайта)*/
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Эффекты при наведении на ссылки в шапке сайта*/
}
header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-head {
  margin-top: 30px;
}
header .header_p {
  padding: 0px 20px;
  text-transform: uppercase;
  font-family: 'Circe';
  font-size: 13px;
  margin-top: 37px;
  color: #2d2829;
  font-weight: 400;
}
header .header_h {
  display: inline-block;
  margin-right: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  color: #2d2829;
  font-weight: 700;
  letter-spacing: 1px;
}
header a {
  text-decoration: none;
}
header .text {
  margin-top: 13px;
  font-family: 'Circe';
  margin-left: 193px;
  color: black;
  font-weight: 700;
}
header .header_p:hover {
  color: #f50049;
}
header .header_p:active {
  color: #f50049;
}
header .text:hover {
  color: #f50049;
}
/*Основной блок*/
.block {
  position: relative;
}
.block h1 {
  margin-top: 165px;
  font-size: 78px;
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  line-height: 80px;
  font-weight: 900;
}
.block h2 {
  font-size: 41px;
  margin-top: -40px;
}
.block .btn {
  padding: 21px 80px;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  background-color: #f50049;
  border-radius: 30px;
  color: #fff;
  margin-top: 58px;
}
.block .btn:hover {
  -webkit-box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
          box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
}
.block .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block .advantages_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}
.block .advantages_left p {
  margin-left: 20px;
}
.block .advantages_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block .advantages_right p {
  margin-left: 20px;
}
.block .our {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  margin-top: 230px;
}
.block .block_cakes {
  margin-left: 300px;
  margin-top: -950px;
}
.block .stawberry {
  margin-left: 40px;
}
/* ПЕРВЫЙ БЛОК С ТОРТАМИ*/
.cakes {
  margin-top: 70px;
}
.cakes .classic {
  position: relative;
  width: 696px;
}
.cakes .classic h3 {
  margin-top: -630px;
  margin-left: 40px;
  font-family: 'Circe';
  font-size: 24px;
  color: #2d2829;
}
.cakes .classic p {
  font-family: 'Circe';
  font-size: 20px;
  color: #2d2829;
  margin-top: -25px;
  margin-left: 40px;
}
.cakes .classic .arows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Circe';
  margin-top: 550px;
  margin-left: 480px;
}
.cakes .classic .see {
  padding: 0px 20px 0px 0px;
}
/*АДАПТАЦИЯ ВЕРСТКИ*/
@media (max-width: 992px) {
  .container {
    width: 992px;
  }
  header {
    background-color: #fff;
  }
  .header_p {
    display: none;
  }
  .header_h {
    margin-left: 30px;
  }
}
